.DS_Store
credentials.json
*.pyc
/code/.ipynb_checkpoints
/data/guardian_phi/raw
data/.ipynb_checkpoints/guardian_phi3_sample-checkpoint.jsonl
/data/guardian_phi/.ipynb_checkpoints
/data/.ipynb_checkpoints
token.json
google_credentials.json
code/token.pickle
code/token.pickle
data/guardian_chunked_rephrased_100.jsonl
data/guardian_chunked_rephrased_1000.jsonl
data/blogger/unknown_paraphrased.jsonl
code/Andrea Dataset Preprocessing/.ipynb_checkpoints/Untitled-checkpoint.ipynb
flash-attention/
